<!DOCTYPE html>
<html>

<head>
  <title>Register</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" href="../static/main.css">

  <script src="../static/register.js"></script>

  <link rel="icon" type="image/png" href="../static/icon.png">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" id="logo" class="brand-logo left">Aang's Stocks</a>
    </div>
  </nav>
  
  <br>
  <div class="container" style="width:20%">
    <h3>Create an Account</h3>
    <form id="register-form" class="form-inline">
      <input id="email-input" type="email" class="validate" placeholder="Email" required>
      <input id="password-input" type="password" placeholder="Password" required>
      <input id="password-verify-input" type="password" placeholder="Re-enter password" required>
      <p><button id="submit-button" class="btn waves-effect waves-light" type="submit">Create account</button></p>
    </form>
    <a class="grey-text" href="/login">I already have an account</a>
  </div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>