
#logo {
    margin-left: 10px;
}

.navbar-right {
    position: fixed;
    right: 20px; /*pixels away from the right of the navbar*/
}

#password-input {
    margin-left: 20px;
}
  
#submit-button {
    margin-left: 40px;
}
