#logo {
    margin-left: 20px;
}

.navbar-right {
    position: fixed;
    right: 20px; /*pixels away from the right of the navbar*/
}

#tracked-stocks-section {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}